@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SUITE-Regular', sans-serif, Arial, Helvetica;
}

/* 먼저 폰트를 선언합니다 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 전체 페이지에 폰트를 적용하고 싶다면 */
body {
  font-family: 'SUITE-Regular', sans-serif;
}

/* 또는 특정 요소에만 적용하고 싶다면 */
.your-class {
  font-family: 'SUITE-Regular', sans-serif;
}

.instagram-link {
  margin-top: 20px;
  text-align: center;
}

.instagram-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* color: #333; */
  text-decoration: none;
  transition: opacity 0.2s;
}

.instagram-link a:hover {
  opacity: 0.8;
}

@keyframes rainbow {
  0% {
    color: #ffCA28;
  }

  20% {
    color: #ff2C5A;
  }

  40% {
    color: #972DEA;
  }

  60% {
    color: #058EE2;
  }

  80% {
    color: #03EDD2;
  }

  100% {
    color: #797979;
  }
}

.rainbow-hover:hover {
  animation: rainbow 5s linear infinite;
}

.modal-content {
  user-select: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 90%;
  height: 90vh;
  max-width: 1200px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

/* Swiper 커스텀 스타일 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}